{% load static %}
<!-- Start Script Area -->

<!--scroll top button-->
<button class="scroll-top-btn">
    <i class="fa-regular fa-angles-up"></i>
</button>
<!--scroll top button end-->

<div id="anywhere-home"></div>

<script src="{% static 'js/jquery.min.js' %}" defer></script>
<script src="{% static 'js/audio.js' %}" defer></script>
<script src="{% static 'js/bootstrap.min.js' %}" defer></script>
<script src="{% static 'js/swiper.js' %}" defer></script>
<script src="{% static 'js/metisMenu.min.js' %}" defer></script>
<script src="{% static 'js/magnific-popup.js' %}" defer></script>
<script src="{% static 'js/contact-form.js' %}" defer></script>
<script src="{% static 'js/resize-sensor.min.js' %}" defer></script>
<script src="{% static 'js/theia-sticky-sidebar.min.js' %}" defer></script>

<!-- main js file -->
<script src="{% static 'js/main.js' %}" defer></script>
<!-- End Script Area -->
