{% comment %} Single Story Card Partial {% endcomment %}
<div class="col-xl-3 col-lg-4 col-md-6 mb-4">
    <div class="story-card">
        <div class="image-box">
            {% if story.image %}
                <img src="{{ story.image.url }}" alt="{{ story.title }}">
            {% else %}
                <img src="{% static 'img/default_story.jpg' %}" alt="default image">
            {% endif %}
        </div>
        <div class="content">
            <div class="tag">
                {% if story.tags %}
                    {{ story.tags.name }}
                {% else %}
                    Uncategorized
                {% endif %}
            </div>
            <h4><a href="#">{{ story.title|truncatechars:55 }}</a></h4>
            <div class="meta">By {% if story.author.first_name %}
                                            {{ story.author.first_name }} {{ story.author.last_name }}
                                        {% else %}
                                            {{ story.author.username }}
                                        {% endif %}
                 {{ story.author.username }} 
                 • {{ story.published_at|date:"d M, Y" }}</div>
        </div>
    </div>
</div>
